{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/homepage.css') }}">
    <link rel="stylesheet" href="{{ asset('build/cgu.css') }}">
{% endblock %}

{% block body %}

    <div class="container">



    </div>

{% endblock %}