{% block info %}
    <h2>INFORMATIONS CONFIDENTIELLES</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Enregistrer" />
    {{ form_end(form) }}

{% endblock %}