    <h2>MOT DE PASSE</h2>
    <div class="form_control">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Enregistrer" />
        {{ form_end(form) }}
    </div>
