{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/enregistrement.css') }}">
{% endblock %}

{% block body %}
    <div class="text-center">
        <img class="mt-5 mb-5" id="logo" src="{{ asset('images/bikerr-green.png') }}" alt="Logo Bikerr">
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title align-items-center">Inscription</h5>
            </div>
            <div class="modal-body">
                <p>Votre compte est maintenant actif</p>
                <a href="{{ path('profil_infos') }}">
                    <button type="submit" class="bouton w-100 mt-3"><img class ="mr-2" src="{{ asset('images/icn-bikerr.svg') }}">Compléter mon profil</button>
                </a>

            </div>

            <div class="modal-footer">
            <p>Vous avez déjà un compte Bikerr ?<a href="/login"> Connexion</a></p>
            </div>
        </div>
    </div>
    <p id="copyright">©Bikerr 2018. Tous droits réservés.</p>
{% endblock %}
