{% extends 'base.html.twig' %}
{% block body %}
    <form id="form_global" class="form-horizontal" action="/FormBankAccount" method="post" >

        <div>
            <label class="control-label Medium text_input" for="titul_compte" style="font-weight: normal;">Titulaire du compte <font color="#009925">*</font></label>
            <input type="text" name="titul_compte" id="titul_compte" class="form-control" placeholder="titulaire du compte">
            <label class="control-label Medium text_input" for="adresse" style="font-weight: normal">Addresse du titulaire (n° et voie) <font color="#009925">*</font></label>
            <input type="text" name="adresse" id="adresse" class="form-control" placeholder="adresse" />
            <label class="control-label Medium text_input" for="pays_banc" style="font-weight: normal">Pays de domiciliation banquaire <font color="#009925">*</font></label>
            <input type="text" name="Pays" id="Pays" class="form-control" placeholder="Pays" />
            <label class="control-label Medium text_input" for="iban" style="font-weight: normal">IBAN (Lettres incluses) <font color="#009925">*</font></label>
            <input type="text" name="iban" id="iban" class="form-control" placeholder="iban" maxlength="34">
            <label class="control-label Medium text_input" for="bic" style="font-weight: normal">BIC ou SWIFT <font color="#009925">*</font></label>
            <input type="text" name="bic" id="bic" class="form-control" placeholder="bic" maxlength="11">
            <input type="submit" class="DemiBold" style="margin-bottom: 128px; letter-spacing: 0.4px" value="ENREGISTRER" id="enregistrer" />
        </div>
    </form>

{% endblock %}
