@import "main.scss";

tr {
  height: 30px;
}

th {
  width: 45px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}

td {
  padding: 3px;
  width: 45px;
  font-size: 0.8rem;
  vertical-align: top;
  text-align: center;
}

.calendar__day {
  background-color : inherit;
}

.calendar__otherMonth .calendar__day {
  opacity: 0.3;
}

.btn-calender {
  color: #dcba79;
}

.badge {
  background-color: #dbb875;
}
.calendar-month {
  font-size: 1rem;
  height: 20px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.checkbox-label {
  text-align: end;
  vertical-align: bottom;
}

.switch {
  margin: 0px;
}

.calendar_disponible{
  background-color: $bikerr-green;
  color: white;
  cursor: pointer;
}

.calendar_booked {
  background-color: red;
  color: white;
  cursor: pointer;
}

.td a{
  display:block;
  width:100%;
}

.modal h5{
  color: black;
}
