@import "main.scss";

body{
  background-color: $bikerr-green;
}

.modal-title{
  width: 471px;
  height: 82px;
  font-family: $font;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: center;
  color: #333634;
  color: var(--Text-Grey-Dark);
}

.modal-dialog {
  border-radius: 0 !important;
  width: 471px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  height:901px;
}
.banniere
{
  width: 391px;
  height: 37.9px;
}

.modal-body{
  width: 471px;
  height: 688px;
}
.modal-header{
  width: 471px;
  height: 82px;
}
.modal-header p{
  margin: auto;
  text-align: center;
}

#Annuler{
  width: 52px;
  font-size: 14px;
  color: $bikerr-green;
}

//p.line.align-items-center{
//  text-decoration-line: line-through $outline-grey ;
//  width:300px;
//}
#submit{
  width:391px;
}
.row .container .flex{
  display:flex;
}

//.form-check-input{
//  display: block;
//}