@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

$bikerr-green: #009925;
$font: Raleway, Arial, Helvetica, sans-serif;
$grey-background: #f9f9f9;
$text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

.bouton {
  background-color: $bikerr-green;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
  color: white !important;
  margin: auto;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bouton:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) inset, 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font, Arial, Helvetica, sans-serif;
}

.background-color {
  background-color: $grey-background
}