@import "main.scss";

h4{

  font-family: $font;
  font-weight: bold;
  font-size: 1.5rem !important;
}

p{
  font-family: $font;

}

.espaceVide{
  display: inline-block;
  height: 300px;
  margin: auto;
  text-align: center;
  width: 100%;
}



.cadrePartage{
  width: 80%;
  margin: auto;
  border: 1px solid $border-grey;
}

#titreVelo{
  border-bottom: 1px solid $border-grey;
  width: 100%;
  margin: auto;
}


#dates{
  display: flex;
  border-bottom: 1px solid $border-grey;
  margin: auto;

}

#jours{
  border-right: 1px solid $border-grey;
  font: $text-grey;
}

#dateDebut{
  border-right: 1px solid $border-grey;
}

#carousel-photos {
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
}

#nbJours{
  margin-top: 0.5em;
  margin-bottom: 0;
}


#dateDebut1,#dateFin1,#jours1{
  font-size: 2rem;
  margin-bottom: 0;
  font-weight: 500;
}

#points1,#caution1,#assurance1,#total1,#dateDebut2,#dateFin2,#jours2,#messageAttente{
  font-size: 1rem;
  color: $text-grey;
  font-weight: 600;
}

#pointsRes{
  display: flex;
  flex-direction: row;
  margin: auto;
  border-bottom: 1px solid $border-grey;
}

#points1{
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-align: end;
}

#points2,#caution2,#assurance2,#partCaution,#totalAssurance{
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-weight: 600;
}

#total2{
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-weight: 600;
  height: 24px;
}
.badge{
  display: flex;
  justify-content: flex-end;
  font-size: 1rem !important;
  margin-bottom: 0.5em;
  margin-top: 0;
  font-weight: 600;
  height: 24px;
  background-color: white;
}


#nbPoints{
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-weight: 600;
  color: $text-green;
}

#nbPointsLoc{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-size: 1rem;
  color: $text-pointLoc;
  font-weight: 600;
}
#caution{
  display: flex;
  flex-direction: row;
  margin: auto;
  border-bottom: 1px solid $border-grey;
}

#caution1{
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  text-align: end;
}

#caution2{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

#partCaution{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5em;
  margin-top: 0.5em;

}

#assurance{
  display: flex;
  flex-direction: row;
  margin: auto;
  border-bottom: 1px solid $border-grey;
}

#assurance1 {
  margin-bottom: 0.5em;
  margin-top: 0.5em;

}

#assurance2 {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

#totalAssurance{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

#totalAssurance1{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-size: 1rem;
  font-weight: 600;

}

#total{
  display: flex;
  flex-direction: row;
  margin: auto;
  border-bottom: 1px solid $border-grey;
  border-top: 1px solid $border-grey;
}

#total1{
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

#total2{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  flex-wrap: nowrap;
}

#buttons{
  display: flex;
  flex-direction: row;
  margin: auto;
}

#buttons div{
  padding-left: 0;
  padding-right: 0;
}


.boutonPartageVal{
  font-family: $font;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  height: 100%;
  width: 100%;
  background-color: $bikerr-green;
  text-shadow: none;

  border-radius: unset;

}



.boutonPartageVal:active {
  background-color: #028121;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}


.boutonPartageAnn{
  @extend .boutonPartageVal;
  border-radius: unset;
  background-color: $grey-background;
  color: $text-grey;

}
#messageAttente{
  display:  flex;
  justify-content:  center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;

}

.cadreBouton{

  height: 3.2rem;

}

.cadreMessage{

  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


