@import "main.scss";

h4{

  font-family: $font;
  font-weight: bold;

}

p{
  font-family: $font;


}

.cadrePartage{
  width: 80%;
  margin: auto;
  border: 1px solid $border-grey;
}

#titreVelo{
  border-bottom: 1px solid $border-grey;
  width: 100%;
  margin: auto;
}


#dates{
  display: flex;
  border-bottom: 1px solid $border-grey;
  margin: auto;

}

#jours{
  border-right: 1px solid $border-grey;
  font: $text-grey;
}

#dateDebut{
  border-right: 1px solid $border-grey;
}

#carousel-photos {
  height: 287px;
  width: 100%;
}

#pointsRes{
  display: flex;
  flex-direction: row;
  margin: auto;
  border-bottom: 1px solid $border-grey;
}