@import "main.scss";

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
/*.bloc-recherche {
  padding-top: 100px;
}*/

#map {
  position: sticky!important;
  top: 0;
  left: 0;
  height: calc(100vh - 35px);
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


.annonce img {
  width: 100%;
  height: auto;
}

.bloc-titres {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $border-grey;
  height: 60px;
  padding-left: 5px;
  padding-right: 5px;
}

.description h4{
  font-size: 14px;
  font-weight: bold;
}

.nb-pts {
  white-space: nowrap;
}

.nb-pts h4{
  font-size: 12px;
}

.nb-pts span{
  color: $bikerr-green;
  font-size: 32px;
}


#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

.search {
  padding: 20px;
}

.item {
  cursor: pointer;
  margin-bottom: 2rem;
  transition: box-shadow .3s;
  padding: 0 20px;
}

.marker {
  transform: translate(-50%, calc(-100% - 10px));
  white-space: nowrap;
  font-size: 16px;
  padding: 5px 10px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.marker::after {
  content:'';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
}

.marker.is-active {
  background-color: $bikerr-green;
  color: #FFF;
  z-index: 300;
}

.marker.is-active::after {
  border-top-color: $bikerr-green;
}

#search-city {
  width: 300px;
}

.hide {
  transform: scale(0);
  width: 0;
  padding: 0;
  transition: all 0.4s ease-in-out;
}

.item img{
  height: 180px;
  width: 100%;
}

.tri-city ul {
  position: absolute;
  list-style: none;
  padding: 0px;
  border: 1px solid black;
  background: white;
  width: 300px;
}

.tri-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tri-city{
  display: flex;
  flex-direction: column;
}


