@import "main.scss";

body{
  font-family: $font;
}

.nav-color {
  display: inline-block;
  position: absolute !important;
  width: 100% !important;
  z-index: 1;
  background-color: rgba(0,0,0,0) !important;
  border-bottom: 0px;
  transition: background-color .5s ease 0s;
}

.nav-color .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.nav-color .navbar-toggler {
  background-color: #cccccc80 !important;
  border: 1px solid $border-grey !important;
}

.onglets_nav {
  font-family: $font;
  color: black !important;
}

.onglets_nav:hover {
  color: $bikerr-green !important;
}

.pts_navbar {
  display: inline-block;
  color: $bikerr-green;
  text-align: right;
}

.title-announce {
  text-align: left;
  font-family: $font;
}
.title-announce span {
  float: right;
  color: $bikerr-green;
  font-family: $font;
  font-weight: bolder;
}

.basic-navbar {
  background-color: white;
}

.footer {
  width: 100%;
  background-color: $bikerr-green;
  color: white;
  list-style:none;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

.footer a {
  color: white;
  font-size: 0.8em;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.footer a:hover {
  color: #c3c7cb;
}

.conteneur_footer {
  width: 100%;
  padding: 30px;
}

.navbar-icon {
  width: 25px;
  margin-left: 12px;
  margin-right: 12px;
}

.navbar-border {
  border-right: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
}

.grey_container {
  background-color: $grey-background;
}

.lien_tableau {
  background-image: linear-gradient(0deg, #dad4d4, white);
  border: solid 1px $border-grey;
  height: 2.5em;
}

.lien_tableau:hover {
  background-image: linear-gradient(0deg, #b7b2b2, white);
}

.lien_tableau a {
  color: black;
}

.lien_tableau a:hover {
  color: $bikerr-green;
}

.ongletVelo ul{
  list-style: none;
  color: $bikerr-green;
  font-size: 12px;
}

.ongletVelo a:hover {
  color: $bikerr-green;
}

@media (max-width: 991px)
{
  .navigation {
    margin-right: 0;
  }

  .basic-navbar {
    background-color: white;
  }

  .basic-navbar li:hover{
    background-color: $border-grey;
  }
}


@media (min-width: 992px)
{
  .navigation {
    margin-right: 10vw;
  }

  .basic-navbar {
    background-color: transparent;
  }
}

.cookieinfo-close {
  font-family: $font !important;
  justify-content: center !important;
  vertical-align: center !important;
  width: 226px !important;
  border-radius: 26px !important;
}