@import "main.scss";

#layoutVelo {
  display: flex;
  flex-direction: column;
}

.headVelo, .completeVelo {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.outilsVelo {
  display: flex;
  flex-direction: column;
}

.outilsVelo a {
  font-size: 14px;
  color: $text-grey;

}

.photoVelo {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photoVelo a {
  font-size: 14px;
  color: $text-grey;
}

.progressionVelo p {
  font-size: 12px;
  color: $text-grey;
}

.progressionVelo h2 {
  font-size: 18px;
  color: $text-dark;
}

.progressbarVelo p {
  font-size: 14px;
  color: $text-dark;
}

.progressionVelo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: dashed 1px $border-grey;
  padding: 2vh;
}



.titreVelo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.progressbarVelo {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.switchVelo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: left;
  border-radius: 2px;
  padding: 0;
}

.checkVelo1 p {
  font-size: 14px;
  color: $text-dark;
  text-align: left;
}

.checkVelo2 p {
  font-size: 14px;
  color: $text-dark;
  text-align: left;
}

.checkVelo1 {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 70vh;
  justify-content: space-between;
}

.checkVelo2 {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 70vh;
  justify-content: space-between;

}


.aidePointsButton {
  padding-top: 8px;
}

.aidePointsButton p{
  color: $bikerr-green;
  font-size: 12px;
}

.ongletVelo ul{
  list-style: none;
  color: $bikerr-green;
  font-size: 12px;
}

.aidePoints {
  text-align: justify;
  margin: 2vh;
  padding: 1vh;
  border-radius: 2px;
  background-color: $background-points;
  color: $bikerr-green;
  font-size: 12px;
}

li {
  padding-top: 6px;
  padding-bottom: 6px;
}

li a {
  font-size: 14px;
  color: $text-grey;
}

.formulaireVelo {
  border: solid 1px $border-grey;
}

.picture{
  width: 283px;
  height: 163px;
  background-color:$bikerr-green;
}

.points{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: inherit;
}


