{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/email.css') }}">
{% endblock %}

{% block body_text %}
{% endblock %}

{% block subject %}Partage de vélo accepté !{% endblock %}

{% block body_html %}

    <div class="text-center">
        <img class="mt-5 mb-5" id="logo" src="{{ asset('images/bikerr-green.png') }}" alt="Logo Bikerr">
    </div>

    <h2>Bonjour,</h2>

    <p>Votre demande de partage de vélo "{{ reservation.velo.titre }}" a été validée par son propriétaire".</p>

    <p>Veuillez cliquer sur ce lien <a href="{{ path('partage/'~reservation.id) }}"></a> afin de procéder à l'échange de points et paiement (s'il y a lieu).</p>

    <p>L'équipe Bikerr</p>

    <h5 id="copyright">©Bikerr 2018. Tous droits réservés.</h5>

{% endblock %}
