{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/email.css') }}">
{% endblock %}

{% block body_text %}
{% endblock %}

{% block subject %}Votre dépôt de garantie !{% endblock %}

{% block body_html %}
    {% autoescape false %}
        <div class="text-center">
            <img class="mt-5 mb-5" id="logo" src="{{ asset('images/bikerr-green.png') }}" alt="Logo Bikerr">
        </div>

        <h2>Bonjour {{ membre.prenom }},</h2>

        <p>Votre dépôt de garantie d'un montant de {{ amount }}€ vous a été restitué. Pour effectuer une autre location ou proposer votre propre vélo, connectez-vous !</p><br>
        <p>L'équipe Bikerr</p>

        <button class="bouton"><a href="https://www.bikerr.fr">Se connecter</a></button>

        <h5 id="copyright">©Bikerr 2018. Tous droits réservés.</h5>
    {% endautoescape %}
{% endblock %}