{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/email.css') }}">
{% endblock %}

{% block body_text %}
{% endblock %}

{% block subject %}Réinitialiser votre mot de passe{% endblock %}

{% block body_html %}
    {% autoescape false %}

        <h2>Bonjour,</h2>

        <p>Nous avons reçu une demande de réinitialisation de votre mot de passe. Cliquez <strong><a href="{{ confirmationUrl }}">ICI</a></strong> pour réinitialiser votre mot de passe.</p>
        <p>Si vous n'êtes pas à l'origin de cette action, vous pouvez ignorer ce message.</p>
        <p>L'équipe Bikerr</p>

        <h5 id="copyright">©Bikerr 2018. Tous droits réservés.</h5>

    {% endautoescape %}
{% endblock %}