{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/email.css') }}">
{% endblock %}

{% block body_text %}
{% endblock %}

{% block body_html %}
    {% autoescape false %}
        <div class="text-center">
            <img class="mt-5 mb-5" id="logo" src="{{ asset('images/bikerr-green.png') }}" alt="Logo Bikerr">
        </div>

        <h2>Bonjour {{ velo.proprio.prenom }},</h2>

        <p>Le propriétaire du vélo {{ velo.proprio.titre }} vient de confirmer le retour de votre vélo..</p>

        <p>L'équipe Bikerr</p>

        <h5 id="copyright">©Bikerr 2018. Tous droits réservés.</h5>
    {% endautoescape %}
{% endblock %}