{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/velo.css') }}">
{% endblock %}

{% block body %}
    <div id="layoutVelo">
        <!-- photo de profil + zone barre de progression -->
        <div class="container headVelo">
            <div class="row">
                <!-- photo de profil -->
                <div class="col-12 col-lg-3 offset-lg-1 photoVelo">
                    <div class="picture"><img src=""/></div>
                    <div class="points">
                    <div><a href="#">Le vélo de Caroline</a></div>
                    <div><a href="#">120</a></div>
                    </div>
                </div>
                <!-- zone barre de progression -->
                <div class="col-12 col-lg-7 progressionVelo">
                    <div class="titreVelo">
                        <div><h2>TYPE</h2></div>
                        <div><p>MARQUE</p></div>
                    </div>
                    <div class="container outilsVelo">
                        <div class="row">
                            <div class="col-12 col-lg-6 progressbarVelo">
                                <div><p>Annonce complété à :</p></div>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 30%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">30%</div>
                                </div>
                                <div><a href="#">Voir mon annonce</a></div>
                            </div>
                            <div class="col-12 col-lg-6 switchVelo">
                                <div class="checkVelo1">
                                    <div style="float:left">
                                        <p>L'annonce du vélo est en ligne</p>
                                    </div>
                                    <div style="float:right">
                                        <label class="switch">
                                            <input type="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="checkVelo2">
                                    <div>
                                        <p>Etre connecté uniquement par des membres vérifiés</p>
                                    </div>
                                    <div>
                                        <label class="switch">
                                            <input type="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- onglets + formulaire à compléter -->
        <div class="container completeVelo">
            <div class="row">
                <!-- onglets -->
                <div class="col-12 col-lg-3 offset-lg-1 ongletVelo">
                    <div>
                        <ul>
                            <li><a href="#">Description</a></li>
                            <li><a href="#">Photos</a></li>
                            <li><a href="#">Equipments</a></li>
                            <li><a href="#">Antivol et marquage Bicycode</a></li>
                            <li><a href="#">Localisation et retrait</a></li>
                            <li><a href="#">Calendrier</a></li>
                            <li><a href="#">Points,dépôt de garantie et assurance</a></li>
                            <li><a href="#">Supprimer le velo</a></li>
                        </ul>
                    </div>
                    <div class="aidePoints"><p>Atteignez 100% en remplissant tous les champs marqués d'une astérisque et en ajoutant une photo de profil. Bikerr vous offrira 150 Points.</p></div>
                </div>
                <!-- onglets + formulaire à compléter -->
                <div  class="col-12 col-8 col-lg-7 formulaireVelo">

                </div>
            </div>
        </div>
    </div>
{% endblock %}