{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/velo.css') }}">
{% endblock %}


{% block body %}
    {{ form_start(form) }}
    <h1>Points</h1>
    {{ form_end(form) }}

{% endblock %}